html,
body {
    background: #eee !important;
    width: 100%;
    font-family: 'Happy Monkey', cursive;
    scroll-behavior: smooth;
}

.borderB {
    border: 1px solid #000;
}


/*---------------- header ---------------*/

.header {
    background-color: #fff;
    text-align: center;
    padding: 20px;
    FONT-family: "arial";
}

.headerheight {
    height: 200px;
    text-align: center;
}


/*---------------- menu -------------------*/

.topnav a:hover {
    background-color: #F1F1F1;
    color: black;
}


/*---------------- boutons sur le cot� droit-------------------*/

input,
label {
    margin: .4em 0;
}


/*---------------- barre de recherche -------------------*/

label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

.search {
    text-align: center;
    FONT-family: "arial";
    FONT-size: 18pt;
}

.carre2 {
    width: 70%;
    padding-top: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    border: 3px solid black;
    margin-right: 10%;
    margin-left: auto;
    text-align: left;
    background: white;
    top: auto;
    left: auto;
    FONT-family: "arial";
    FONT-size: 18pt;
}

.texte {
    max-width: 800px;
}

.photo {
    float: left;
}

.changement {
    margin-top: auto;
    margin-bottom: auto;
}

.contenu {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media (max-width: 800px) {}