h1 {
    color: #FFAF50;
    font-size: 100px;
    margin-left: 100px;
    margin-top: 20px;
}

.Acc {
    display: flex;
    justify-content: space-around;
    background-color: white;
    font-size: 1.5em;
}

button {
    background-color: #F4C161;
}

p {
    width: 400px;
    margin-left: 120px;
    padding-bottom: 10px;
    text-align: justify;
    margin-top: 50px;
    color: black;
    font-weight: bold;
}

.bande {
    background-color: #F9F5F5;
    margin-bottom: 150px;
}

.link1 {
    color: #FFBF5A;
    display: flex;
    justify-content: center;
    margin-top: 0px;
}

.entete {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#identifiant {
    margin-bottom: 5px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    width: 50%;
    align-self: flex-end;
}

#identifiant div {
    margin-bottom: 10px;
}

#texte {
    float: left;
}

.Baba1 {
    margin-left: -20px;
    color: black;
}

.Baba2 {
    margin-left: -40px;
    color: black;
}

.Baba3 {
    margin-left: -35px;
    color: black;
}

.Baba4 {
    margin-left: -20px;
    color: black;
}

@media all and (max-width: 1024px) {
    p {
        margin-left: 50px;
        margin-right: 30px;
        margin-top: 50px;
    }
    .entete {
        flex-direction: column;
    }
    h1 {
        margin-top: 20px;
        margin-left: 30px;
        font-size: 50px;
    }
    #identifiant {
        margin-bottom: unset;
        margin-right: unset;
        margin-left: 10%;
        width: 100%;
        align-self: unset;
    }
    .bande {
        margin-bottom: 100px;
    }
}

@media all and (max-width: 480px) {
    .Acc {
        font-size: 0.8em;
    }
    p {
        width: 300px;
        margin-left: 6px;
        margin-top: 20px;
    }
    h1 {
        margin-top: 20px;
        margin-left: 5px;
        font-size: 50px;
        width: auto;
        text-align: left;
        padding-left: 4px;
    }
    .bande {
        margin-bottom: 50px;
    }
    .row div {
        margin-right: 40px;
    }
}